<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgKfOonsGNbAv2P07z6S0rfa2jsONuza4</string>
	<key>GCM_SENDER_ID</key>
	<string>968720913358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iv4pa4.HiJourney-1-2</string>
	<key>PROJECT_ID</key>
	<string>hijourney2-3336e</string>
	<key>STORAGE_BUCKET</key>
	<string>hijourney2-3336e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968720913358:ios:1e031342770089bac4d19f</string>
</dict>
</plist>